@tailwind base;

:root {
  --primary: whitesmoke;
  --secondary: rgb(38, 52, 253);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 20px;
  border: 4px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

.blob1, .blob2, .blob3, .blob4, .blob5 {
  position: absolute;
  width: 500px;
  height: 500px;
  background: linear-gradient(180deg,
      rgb(38, 52, 253) 31.77%,
      rgba(20, 255, 224, 0.75) 100%);
  mix-blend-mode: color-dodge;
}

.blob1:hover, .blob2:hover, .blob3:hover, .blob4:hover, .blob5:hover {
  width: 520px;
  height: 520px;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  box-shadow:
    inset 0 0 0 5px rgba(255, 255, 255, 0.6),
    inset 100px 100px 0 0px #fa709a,
    inset 200px 200px 0 0px #784ba8,
    inset 300px 300px 0 0px #2b86c5;
}

.blob1 {
  -webkit-animation: move1 25s infinite alternate;
  animation: move1 25s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

@-webkit-keyframes move1 {
  from {
    transform: translate(-1000px, -50px) rotate(-100deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-20deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move1 {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

.blob2 {
  -webkit-animation: move2 25s infinite alternate;
  animation: move2 25s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

@-webkit-keyframes move2 {
  from {
    transform: translate(-200px, -50px) rotate(-100deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-20deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move2 {
  from {
    transform: translate(500px, -50px) rotate(-90deg);
    border-radius: 24% 76% 53% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(-500px, -200px) rotate(-10deg);
    border-radius: 76% 20% 33% 67% / 68% 55% 45% 32%;
  }
}

.blob3 {
  -webkit-animation: move3 25s infinite alternate;
  animation: move3 25s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

@-webkit-keyframes move3 {
  from {
    transform: translate(400px, -50px) rotate(-100deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(600px, 100px) rotate(-20deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move3 {
  from {
    transform: translate(-600px, -100px) rotate(-90deg);
    border-radius: 24% 76% 35% 80% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 300px) rotate(-10deg);
    border-radius: 76% 24% 33% 50% / 68% 55% 45% 32%;
  }
}

.blob4 {
  -webkit-animation: move4 25s infinite alternate;
  animation: move4 25s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

@-webkit-keyframes move4 { 
  from {
    transform: translate(-200px, -50px) rotate(-100deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-20deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move4 {
  from {
    transform: translate(800px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(-1000px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 70% / 68% 55% 45% 32%;
  }
}

.blob5 {
  -webkit-animation: move5 25s infinite alternate;
  animation: move5 25s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);

}

@-webkit-keyframes move5 {
  from {
    transform: translate(-200px, -50px) rotate(-100deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-20deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move5 {
  from {
    transform: translate(-200px, -150px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 150px) rotate(-20deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}